.reviews {

    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    margin-top: 80px;
}

.h2-title {
    font-size: 45px;
}

.h2-title_reviews {
    color: honeydew;
}

.section-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}

.title__line {
    display: block;
    width: 42px;
    height: 3px;
    background: #FC7749;
    margin: 23px 0 30px;
}

.bottom {
    bottom: 5rem;
}

.h {
    height: 200px;
}