body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title__line {
  display: block;
  width: 42px;
  height: 3px;
  background: #FC7749;
  margin: 23px 0 30px;
}
.bottom {
  bottom: 5rem;
}

.h {
  height: 200px;
}
.grid{
  display: grid;
} 
.cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.gap {
  gap:2rem;
}